
.container4 div{
    text-align: left;
    color: white;
   
    font-family: 'Staatliches', cursive;

}

.logo, .manchete, .headlina {
    text-align: right;
    margin-right:30px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    padding:17px 30px ;

} 
.logo img{ 
    border-radius: 100%;
} 

body{

    background-repeat: no-repeat;
    background-size: 50%;
  background-color: rgb(235, 230, 235);

}
main{
    background-color: rgba(222, 230, 221, 0.521);
    padding: 50px 40px;
    margin-top: 10px;
   
}
.container4{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 239, 239);
    margin: 20px;
  justify-content: center;
   
}
.container4 div{
  width: 50%;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(142, 116, 145);
  justify-content: center;
  border-radius: 10%;
 
} 

.container2{
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 48, 53);
    margin: 0px;

   
}
.container2 div {
    
    margin: 50px;
    padding: 250px;
    font-size: 18px;
    background-color: rgb(47, 29, 49);
    justify-content: center;
    border-radius: 10px;
} 
.container2 div h3{
    
    margin: 50px;
    padding: 50px;
    font-size: 18px;
    background-color: rgb(47, 29, 49);
    justify-content: center;
    border-radius: 10px;
} 
.menu {
    width: 30%;
    height: 30%;
    margin: auto;
    float: left;
}  

.menu ul{ 
    width: 500px;
    height: 50px;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
}

.menu a{
    color: rgb(41, 32, 32);
   text-decoration: none;
text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    padding:17px 30px ;
   display: inline-block;
}

.menu a:hover{
    border-radius: 30px;
    background-color: rgb(82, 142, 150);
        height: 50px;
        width: 100px;
}
